[submodule "40423208"]
	path = 40423208
	url = https://github.com/40423208/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423213"]
	path = 40423213
	url = https://github.com/40423213/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423232"]
	path = 40423232
	url = https://github.com/40423232/2016fallcadp_hw.git
	branch = gh-pages
[submodule "40423233"]
	path = 40423233
	url = https://github.com/40423233/2016fallcadp_hw.git
	branch = gh-pages
